
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Pavanam&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>

    <h1 class="banner">Covid Agent</h1>

    <!-- <div class="button2" type="submit">
        <div id="x-circle"></div>
        <span></span>
    </div> -->
<!-- <img src="Qlogo.PNG"> -->
    <div id="cover">
        <form method="POST">
          <div class="tb">
            <div class="td"><input type="text" placeholder="Ask a question" name="question" required></div>
            <div class="td" id="s-cover">
              <button class="button1" type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      {% if content['question'] != '' %}
      <div class="content">
        <p><b>Question: </b>{{ content['question'] }}</p>
        <p><b>Title: </b>{{ content['response_title'] }}</p>
        <p><b>Model Confidence: </b>{{ content['confidence'] }}</p>
        {% for item in content['response_content']%}   
          <p> {{ item|safe }} </p> 
        {% endfor %}
      </div>
      {% endif %}



      <footer>
        <p style="margin-bottom: 0em;"><b>Teambits &COPY; 2020</b></p>
        <p style="font-size:smaller; margin-top: 0em;"><b>Covid Agent</b></p>
      </footer>
</body>
</html>
